body, h1, ul, li {
	margin: 0%;
	padding: 0%;
}

.page{
	width: 100%;
	font-family: 'Times New Roman', Times, serif;
}

.top{
	height: 10em;
	width: 99.7%;
	background:#2196F3;
	border-style:double;
}

.logo{
    float: left;
    margin-left: 10%;
    margin-top: 1%;
}

.top h2{
	float: left;
    margin-top: 3.5%;
}

.search{
	float: right;
	margin-right: 5%;
	margin-top: 3%;
}

#search_box{
    outline-style: none;
    border-radius: 75px;
    width: 400px;
    height: 50px;
    border-style: none;
    padding: 10px;
}

#submit_button{
    height: 50px;
    width: 75px;
    border-radius: 25px;
    outline-style: none;
    border-style: none;
}

.menu{
    margin-top: 0.1%;
    margin-bottom: 0.1%;
	margin-left:25%;
	background:	#263238;
	height: 3em;
    border-style:double;
    width: 50%;
    
}

.menu li{
	float:left;
	list-style:none;
	margin-top:15px;
	font-weight:bold;
}


.menu li a{
	color:white;
	margin:10px;
    padding:7px 7px;
    text-decoration: none;
}

.menu a:hover{
	background: #64B5F6;
	border-radius:25px;
}

.medium{
	margin-right:0%;
	margin-left:0%;
	margin-top:0px;
	
}

.medium_left{
    float: left;
    margin-left: 0.5%;
    width: 10%;
    height: 44.5em;
    border: 1px solid black;
}

.img{
    width: 100%;
    height: 100%;
}

.medium_medium{
    float: left;
    width: 78%;
    height: 44.5em;
    margin-left: 0.5%;
    background:#64B5F6;
    text-align: center;
}

.medium_right{
    float: left;
    margin-left: 0.5%;
    width: 10%;
    height: 44.5em;
    border: 1px solid black;
}

.footer{
    float: left;
    width: 99%;
    height: 10em;
    border: 1px solid black;
    background-color: darkcyan;
    margin: 0.5%;
    margin-top: 0.2%;
    text-align: center;
}

.copyright{
    font-size: 20px;
}

.clear{
	clear: both;
}